/* Geral */
body {
  background-color: #0e0012;
  color: #fff;
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}

/* Logo Navbar */
.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  font-size: 25px;
}

.logo img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar a {
  text-decoration: none;
  color: #d1d1d1;
  transition: 0.3s;
}

.navbar a:hover {
  color: #fff;
}

/* Conteúdo Principal */
.content {
  max-width: 50%;
}

.content h1 {
  font-size: 3rem;
}

.content span {
  color: #7e0394;
}

.content p {
  color: #d1d1d1;
  line-height: 1.5;
}

/* Formulário */
.form-gruop {
  margin-top: 20px;
}

.form-gruop input {
  padding: 15px;
  border-radius: 30px;
  border: 1px solid #333;
  background-color: #2e2e3a;
  margin-bottom: 15px;
  color: #fff;
  width: 70%;
}

.form-gruop button {
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  background-color: #2e2e3a;
  margin-bottom: 15px;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
}

.form-gruop button:hover {
  background-color: #7e0394;
}

/* Banner */
.image-container {
  position: relative;
  max-width: 40%;
}

.image-container img {
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: -18px 10px 78px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -18px 10px 78px -18px rgba(0, 0, 0, 0.75);
  box-shadow: -18px 10px 78px -18px rgba(0, 0, 0, 0.75);
}

.eclipse {
  position: absolute;
  top: 20%;
  left: -20%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(135deg, #7e0394, transparent);
  z-index: -1;
}

/* Responsividade */

@media (max-width: 780px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    max-width: 80%;
    margin-top: 3rem;
  }

  .form-gruop input {
    width: 90%;
  }

  .form-gruop button {
    width: 95%;
  }

  .image-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  .image-container img {
    width: 50%;
  }

  .eclipse {
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    height: 100%;
    border-radius: 0;
  }

  .logo {
    margin-top: 5px;
  }

  header {
    align-items: center;
    flex-direction: column;
  }

  @media (max-width: 430px) {
    .content h1 {
      font-size: 2rem;
    }
  }
}
